$green: #14bd6b;
$green-dark: #109957;

$red: #de1637;
$red-dark: #bd0e2b;

$yellow: #f2c200;
$yellow-dark: #e0b300;

a {
  text-decoration: none;
}
  
header {
  background-color: #003663;
  

  
  h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
  }
  
  h2 {
    margin-top: -1px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    letter-spacing: 0.8em;
    
    em {
      font-weight: 400;
    }
  }
  
  .back-box {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    opacity: 0.3;
    transition: opacity 0.1s;
    
    a {
      text-decoration: none;
      color: #fff;
      .back-text {
        margin-top: 4px;
        font-size: 16px;
      }
    }
    
    &:hover {
      opacity: 0.9;
      transition: opacity 0.1s;
    }
  }
}

footer {
  text-align: center;
  margin: 30px;
  font-size: 14px;
  color: #333;
  line-height: normal;
  
  em {
    font-weight: 400;
  }
}