@import 'common';

html, body {
  height: 100%;
}

body {
  background-color: #002848;
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: auto;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.green {
  color: #43ca00;
}

.orange {
  color: #fdbb3c;
}

.container {
  margin: 20px 0 0 0;
}

.playing-field {
  border-top: 4px solid #001526;
  position: relative;
  width: 800px;
  height: 400px;
  margin: 30px auto;
  background-color: #001e37;
}

.score-field {
  width: 800px;
  margin: 10px auto;
  overflow: auto;
}


.score-field-left {
  float: left;
  text-align: left;
}

.score-field-right {
  float: right;
  text-align: right;
}

.sf {
  background-color: #001e37;
  border-top: 2px solid #fff;
  width: 320px;
  padding: 10px;
  color: #fff;
  position: relative;
}

.round-number {
  float: left;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  margin-left: 10px;
  background-color: #001e37;
  border-top: 2px solid #fff;
  padding: 20px 0;
  width:100px;
  text-align: center;
}

p {
  font-weight: 100;
  font-size: 14px;
}

.line {
  height: 1px;
  background-color: #072843;
  width: 100%;
  position: absolute;
}

.plane {
  background-image: url("../assets/planes.png");
  background-size: 260px;
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
  position: absolute;
  z-index: 20;
}

.p1 {
  top: 20px;
  left: 10px;
  background-position: 0 0;
}

.p2 {
  bottom: 20px;
  right: 10px;
  background-position: -50px 0;
}

.glow-overlay {
  background-image: url("../assets/planes.png");
  background-size: 260px;
  background-repeat: no-repeat;
  height: 40px;
  width: 50px;
  position: absolute;
  z-index: 22;
}

.left-overlay {
  background-position: 0 -40px;
}

.right-overlay {
  background-position: -50px -40px;
}

.bul {
  width: 10px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  top: 40px;
}

.bullets {
  font-weight: 600;
}

.l1 {
  top: 80px;
}

.l2 {
  top: 160px;
}

.l3 {
  top: 240px;
}

.l4 {
  top: 320px;
}

.action {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 20px;
  position: absolute;
  font-size: 12px;
  top: 8px;
  right: 8px;
  background-image: url("../assets/planes.png");
  background-size: 260px;
  background-repeat: no-repeat;
}

.action-left {
  display: none;
}

.action-right {
  right: auto;
  left: 8px;
  display: none;
}

.charge {
  background-position: -100px 0;
}

.up {
  background-position: -140px 0;
}

.down {
  background-position: -180px 0;
}

.shoot, .dud {
  background-position: -220px 0;
}

.charge-gif {
  background-image: url("../assets/charge.gif");
  position: absolute;
  height: 40px;
  width: 40px;
  background-size: 40px;
}

.cover, .end-cover {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 120px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 100;
}

.end-cover {
  display: none;
  text-align: center;
  
  h4 {
    margin-bottom: 40px;
  }
  
  .winner-name {
    font-weight: 300;
  }
   
  a {
    padding: 6px 10px;
    background-color: $green;
    border-bottom: 3px solid $green-dark;
    color: #fff;
    font-weight: 300;
    margin: 10px;

    &:hover {
      opacity: 0.8;
    }
    
    &.replay {
      background-color: $yellow;
      border-color: $yellow-dark;
    }
  }
}

h4 {
  margin-top: 30px;
  font-size: 60px;
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
  text-align: center;
}

.go-btn, .go-btn:focus {
  font-size: 80px;
  color: #222;
  font-weight: 100;
  background-color: #fff;
  text-align: center;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  line-height: 200px;
  vertical-align: center;
  display: none;
  transition: background-color 0.3s, color 0.3s;
}

.go-btn:hover {
  cursor: pointer;
  background-color: #14bd6b;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.spinner-container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 50px auto 0;
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background-size: 200px;
  background-image: url("../assets/spinner-large.png");
  -webkit-animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}


.invalid-id, .match-processing {
  display: none;
  line-height: normal;
  margin: 100px;
  text-align: center;
  font-size: 20px;
  color: #de1637;
  font-weight: 100;
}

.match-processing {
  color: $yellow;
}

.fb-share-box {
    position: absolute;
    top: 45px;
    right: 45px;
    display: none;
    
  .fb-share-button {
    padding: 5px 12px 6px 10px;
    float: right;
    background-color: #fff;
    border-bottom: 2px solid #bbb;
  }
}
