@import 'common';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff; 
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #27a7f9;
}

h1 {
  a {
    background-color: #999;
    padding: 14px 26px;
    font-size: 15px;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    border-bottom: 3px solid #777;
    color: #fff;
    
    &.template {
      background-color: $yellow;
      border-color: $yellow-dark;
    }
    
    &:hover {
      color: #fff;
      opacity: 0.8;
    }
  }
}

em {
  font-weight: 500;
}

.help-container {
  max-width: 840px;
  margin: 0 auto;
  padding: 30px;
  
  h1 {
    font-size: 40px;
    margin: 50px 0 20px 0;
    color: #ddd;
    
    &:nth-child(1) {
      margin-top: 0;
    }
  }
  h2 {
    font-size: 20px;
    margin: 30px 0 8px 0;
    font-weight: 400;
  }
  p {
    margin-bottom: 20px;
    line-height: normal;
    
  }
  .ct {
    text-align: center;
    overflow: auto;
    margin: 20px;
  }
    
  code {
    font-family: 'Andale Mono', 'Courier', monospace;
      
    a {
      color: #6d00ab;
      
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .no {
    color: #aaa;
  }
  
  .type {
    color: #fd9720;
    font-size: 16px;
  }
  
  samp {
    font-family: 'Andale Mono', 'Courier', monospace;
    color: #f92772;
  }
  
  .image-caption {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    background-color: #f7f7f7;
    border-bottom: 3px solid #eee;
    display: inline-block;
    
    &.img-180 {
      width: 180px;
    }
    
    &.img-360 {
      width: 360px;
      float: none;
      margin: 20px auto 20px;
    }
    
    img {
      display: block;
      margin: 0;
      width: 100%;
    }
    
    p {
      margin: 0;
      padding: 10px;
      display: block;
      text-align: center;
    }
  }
}