@import 'common';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff; 
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #27a7f9;
}

.help-container {
  max-width: 840px;
  margin: 0 auto;
  padding: 30px;
  
  h1 {
    font-size: 40px;
    margin: 20px 0 20px 0;
    color: #ddd;
  }
  h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
    font-weight: 400;
  }
  p {
    margin-bottom: 25px;
    line-height: normal;
  }
  code {
    font-family: 'Andale Mono', 'Courier', monospace;
      
    a {
      color: #6d00ab;
      
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .no {
    color: #aaa;
  }
  
  img {
    width: 360px;
    float: right;
    margin-left: 30px;
  }
  
  .type {
    color: #fd9720;
    font-size: 16px;
  }
  
  samp {
    font-family: 'Andale Mono', 'Courier', monospace;
    color: #f92772;
  }
}