header {
  background-color: #003663; }
  header a {
    text-decoration: none; }
  header h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 70px;
    text-align: center;
    color: #fff;
    padding-top: 10px; }
  header h2 {
    margin-top: -1px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    text-align: center;
    letter-spacing: 0.8em; }
    header h2 em {
      font-weight: 400; }
  header .back-box {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 60px;
    text-align: center;
    font-size: 40px;
    opacity: 0.3;
    transition: opacity 0.1s; }
    header .back-box a {
      text-decoration: none;
      color: #fff; }
      header .back-box a .back-text {
        margin-top: 4px;
        font-size: 16px; }
    header .back-box:hover {
      opacity: 0.9;
      transition: opacity 0.1s; }

footer {
  text-align: center;
  margin: 30px;
  font-size: 14px;
  color: #333;
  line-height: normal; }
  footer em {
    font-weight: 400; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff; }

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #27a7f9; }

.help-container {
  max-width: 840px;
  margin: 0 auto;
  padding: 30px; }
  .help-container h1 {
    font-size: 40px;
    margin: 20px 0 20px 0;
    color: #ddd; }
  .help-container h2 {
    font-size: 20px;
    margin: 0 0 8px 0;
    font-weight: 400; }
  .help-container p {
    margin-bottom: 25px;
    line-height: normal; }
  .help-container code {
    font-family: 'Andale Mono', 'Courier', monospace; }
    .help-container code a {
      color: #6d00ab; }
      .help-container code a:hover {
        opacity: 0.6; }
  .help-container .no {
    color: #aaa; }
  .help-container img {
    width: 360px;
    float: right;
    margin-left: 30px; }
  .help-container .type {
    color: #fd9720;
    font-size: 16px; }
  .help-container samp {
    font-family: 'Andale Mono', 'Courier', monospace;
    color: #f92772; }
