@import 'common';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #fff; 
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #fff;
}

.tagline {
  text-align: center;
  padding: 20px;
  font-size: 20px;
  color: #bbb;
}

.banner {
  height: 200px;
  background-image: url('../assets/planes-home.png');
  background-size: 450px 150px;
  background-repeat: no-repeat;
  background-position: center center;
}

.mailing-list {
  text-align: center;
  margin-bottom: 40px;

  a, a:visited, a:active {
    text-decoration: none;
    background-color: #FF6900;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 28px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 4px center;
    border-bottom: 3px solid #E45E00;
    
    &:hover {
      opacity: 0.9;
    }
  }
}

.facebook {
  text-align: center;
  opacity: 0.4;

  a, a:visited, a:active {
    text-decoration: none;
    background-color: #3f588e;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px 8px 40px;
    background-image: url('../assets/facebook-login-2.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 4px center;
    border-bottom: 3px solid #283f6e;
    
    &:hover {
      opacity: 0.9;
    }
  }
}

.lower-container {
  background-color: #eceff1;
  margin-top: 40px;
  padding: 30px;
  border: 1px solid #d7dde1;
  border-width: 1px 0 1px 0;
  h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.2;
  }
  
  p {
    margin: 0 auto;
    text-align: center;
    max-width: 520px;
    line-height: normal;
    font-size: 18;
  }
  
  em {
    font-weight: 500;
  }
  
  .samples {
    text-align: center;
    margin-top: 20px;
    
    a {
      padding: 8px 20px;
      margin: 0 5px 10px;
      display: inline-block;
      width: 180px;
    }
    
    .rules {
      background-color: $yellow;
      border-bottom: 2px solid $yellow-dark;
    }
    
    .sample-game {
      background-color: #14bd6b;
      border-bottom: 2px solid #109957;
    }
    
    .sample-code {
      color: #67e65a;
      font-family: 'Andale Mono', 'Courier', monospace;
      background-color: #2d2d2d;
      border-bottom: 2px solid #000;
      font-weight: 100;
    }
  }
}

.row-code {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 30px;
  
  h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
    opacity: 0.2;
  }
  
  img {
    max-width: 798px;
    width: 100%;
  }
  
  p {
    font-size: 16px;
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    line-height: normal;
    
    a {
      color: #336de5;
      
      &:hover {
        opacity: 0.8;
      }
    }
    
    code {
      font-family: 'Andale Mono', 'Courier', monospace;
    }
    
  }

}