@import 'common';

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #eceff1;
}

.container {
  width: 960px;
  margin: auto;
}

.content-box {
  background-color: #fff;
  margin-left: 20px;
  padding: 20px;
  border: 1px solid #dde2e7;
  border-bottom: 3px solid #dde2e7;
  clear: none;
  margin-bottom: 20px;
  
  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #555;
    text-transform: uppercase;
  }
  h3 {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ccc;
    text-transform: uppercase;
  }
  h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 2px;
    color: #ddd;
    text-transform: uppercase;
  }
  .new-here {
  a {
      text-decoration: none;
      opacity: 0.4;
      color: #0979e1;
      font-weight: 400;
      
      &:hover, &:visited, &:focus {
        opacity: 1;
        color: #0979e1;
      }
    }
  }

}

.split {
  float: left;
}

.half-screen {
  width: 408px;
}

.status-msg {
  float: none;
  text-align: center;
  border: none;
  background-color: #de1637;
  color: #fff;
  padding: 10px;
  border-bottom: 3px solid #bd0e2b;
}

.row, .row-later {
  overflow: auto;
}

.row-greeting {
  border: 1px solid #dde2e7;
  border-bottom: none;
  background-color: #fff;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.solid-back {
  background-color: #6c7882;
  -webkit-box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.4);
  box-shadow:inset 0 0 2px 0 rgba(0,0,0,0.4);

  .back-box {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    z-index: 1;
    
    ul {
      display: inline-block;
      
      li { 
        vertical-align: top;
        display: inline-block;
      
        a { 
          text-decoration: none;
          color: #fff;
          line-height: 28px;
          display: inline-block;
          width: 60px;
          text-align: center;
          padding: 20px;
          font-size: 15px;
          vertical-align: middle;
          transition: background-color 0.2s ease;
          
          &.emails {
            line-height: 14px;
          }
          
          .email-state {
            font-size: 9px;
            text-transform: uppercase;
            padding: 0px 6px;
          }
          
          .email-on {
            background-color: $green;
          }
          
          .email-off {
            background-color: $red;
          }
        }
        
        &:hover {
          cursor: pointer;
          background-color: #5c6973;
          transition: background-color 0.2s ease;
        }
      }
    }
  }
}

.greeting {
  background-color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
  left: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  border-bottom: 3px solid #dde2e7;

  h1 {
    padding: 20px;
    line-height: 24px;
  }
  
  .right-settings {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 23px;
    color: #ddd;
    line-height: 23px; 
    padding: 20px;
    width: 24px;
    
    .fa-cog {
      transition: transform 0.4s ease;
      transform:rotate(0deg);
      -ms-transform:rotate(0deg); /* IE 9 */
      -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
    }
      
    &:hover {
      color: #bbb;
      cursor: pointer;
      background-color: #fafafa;
      
      .fa-cog {
        transition: transform 0.4s ease;
        transform:rotate(-30deg);
        -ms-transform:rotate(-30deg); /* IE 9 */
        -webkit-transform:rotate(-30deg); /* Opera, Chrome, and Safari */
      }
    }
  }
}

.current-user-stats {
  width: 566px;
  float: left;

  p {
    margin-bottom: 20px;
  }
  ul {
    li {
      margin-right: 50px;
      display: inline-block;
      text-align: left;
      .stat-num {
        color: #999;
        font-size: 80px;
        font-weight: 500;
      }
      .win {
        color: $green;
      }
      .rank {
        color: #333;
      }
    }
  }
}

.upload-bot {
  float: left;
  width: 250px;
  background-image: url('../assets/plane-large.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center 90px;
  height: 230px;

  &.no-background {
    background: none;
    background-color: #fff;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }

  .download-template {
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
    font-size: 13px;
    
    a {
      text-decoration: none;
      opacity: 0.4;
      color: $link-blue;
      
      &:hover, &:visited, &:focus {
        opacity: 1;
        color: $link-blue;
      }
    }
  }
  
  input[type="text"] {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    outline: none;
    padding: 7px 9px;
    border: 1px solid #dedede;
    width: 230px;
    margin-bottom: 8px;
    border-top: 3px solid #dedede;
  }

  .botName {

  }

  input[type="submit"] {
    border: none;
    font-family: 'Lato', sans-serif;
    background-color: $green;
    color: #fff;
    width: 100%;
    border-bottom: 3px solid $green-dark;
    font-size: 16px;
    font-weight: 300;
    padding: 9px;
    margin-top: 8px;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: #2cc668;
    }
  }

  input[type="button"] {
    display: none;
  }
  
  .form-fill {
    display: none;
  }

  .upload-box {
    background-color: #14bd6b;
    color: #fff;
    border-bottom: 3px solid #109957;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: center;
    text-align: center;
    position: relative;
    margin-top: 8px;
    overflow: hidden;
    top: 0;

    &.dragging {
      background-color: purple;
    }
    
    &.drop {
      background-color: $yellow;
      border-bottom: 3px solid $yellow-dark;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      transition: all 0.6s;

      &:hover {
        background-color: #efd754;
      }
    }
    
    &:hover {
      background-color: #2cc668;
    }
    
    input[type="file"] {
      width: 100%;
      height: 100%;
      border: none;
      background-color: blue;
      outline: none;
      opacity: 0;
      position: absolute;
      left: 0;
      z-index: 30;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.match-list-empty{
  color: #ccc;
}

.show-more-matches, .show-more-global {
  text-align: center;
  color: $link-blue;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.4;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.bot-item {
  margin-bottom: 2px;
  
  .challengerBox {
    height: 30px;
  }
  
  .statsBox {
    background-color: #3d444c;
    padding: 7px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    display: none;
    
    em {
      font-weight: 500;
    }
    
    .statItem {
      margin: 0 20px;
    }
  }
  
  
  .challengerName, .challengerBot {
    font-size: 16px;
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    line-height: normal;
    vertical-align: bottom;
  }
  
  .challengerName {
    font-weight: 500;
    max-width: 150px;
  }
  
  .match-id {
    color: #ddd;
    display: none;
  }
  
  .result {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 10px;
    color: #aaa;
  }
  /* BUTTONS */
  
  .stats, .watched {
    background-color: $inactive-gray;
    border-color: $inactive-gray-dark;
    float: right;
    
    &:hover {
      background-color: #8e8e8e;
    }
  }
  
  .watched {
    width: 80px;
    text-align: center;
  }
  
  .challenge-sent {
    background-color: #9d9d9d !important;
    border-bottom: 2px solid #888888 !important;
    color: #ddd !important;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
  }
  
  .waiting {
    background-color: #f5d000;
    border-bottom: 2px solid #debc00;
    float: right;
    width: 80px;
    text-align: center;
    
    &:hover {
      background-color: #efd754;
    }
  }
  
  .challenge {
    background-color: $red;
    border-bottom: 2px solid $red-dark;
    float: right;
    
    &:hover {
      background-color: #d11434;
    }
  }
  
  .share {
    background-color: #3b5998;
    float: right;
    border-bottom: 2px solid #2a4273;
    
    &:hover {
      cursor: pointer;
      background-color: #324e8a;
    }
  }
  
  .view {
    background-color: $green;
    float: right;
    border-bottom: 2px solid $green-dark;
    width: 80px;
    text-align: center;
    
    &:hover {
      background-color: #2cc668;
    }
  }
}

// Things I want to hide from you

.content-collapse {
  display: none;

  &.show-matches {
    display: block;
  }
}

.bot-item-template, .match-item-template {
  display: none;
}