<div class="tagline">
  Write an AI, Conquer the Sky!
</div>
<div class="banner">
</div>
<div class="mailing-list">
  <a href="http://eepurl.com/0rreX">Sign up to be a BETA Tester</a>
</div>
<div class="facebook">
  <a>Login with Facebook</a>
</div>
<div class="login-error"></div>
<div class="lower-container">
  <h1>What is Planes?</h1>
  <p>Planes is a silly little game that <em>puts your code to the test</em> against your friend's code! Challenge them in an epic duel of planes!</p>
  <div class="samples">
    <a class="sample-game" href="arena?8">
      view sample game
    </a>
    <a class="rules" href="/help">
      rules and documentation
    </a>
    <!--
    <a class="sample-code" href="#code">
      the code
    </a>
    -->
  </div>
</div>
<div id="code" class="row-code">
  <img src="../assets/example-code.png">
  <h1>How does it work?</h1>
  <p>Making your AI is easy! Each round, you must return a plane action- one of <code>up</code>, <code>down</code>, <code>charge</code>, or <code>shoot</code>. You get information such as the current <code>gameRound</code> and the position of your enemy. Check out the <a href='/help'>rules and documentation</a>!
  </p>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var $access = $('.facebook').find('input')
    var attemptLogin = function() {
      if ($access.css('width') == '0px') {
        $access
          .show()
          .animate({width: 200, padding: 9});
        } else {
          $.get('/checkpassword',{password: $access.val()}, function(data) {
            console.log(data)
            if (data != '/') {
              window.location = data;
            } else {
              $access.addClass('err');
              $('.login-error').text('oops - wrong access code! If you\'ve already joined the beta mailing list but haven\'t receive an access code yet, hang tight! We\'ll let you know! Email planes@mit.edu if you believe this is an error!')
            }
          })
        
      }
    }
    $(document).on('keydown', 'input', function(ev) {
        if (ev.which === 13) {
            attemptLogin();
        }
    });
    
    $('.beta').on('click', function() {
      attemptLogin();
      $access.focus();
    });
    
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
    
  });
</script>
