<header>
  <a href='/'>
    <h1>Planes</h1>
    <h2>by <em>NEXT CODE</em></h2>
  </a>
  <div class="back-box">
    <a href="javascript:history.back()">
      <i class="fa fa-arrow-left"></i>
      <div class="back-text">
        back
      </div>
    <script type="text/javascript">
      if (document.referrer.indexOf('theplanesgame') < 0 && document.referrer.indexOf('localhost') < 0) {
        $('.back-box').find('a').attr('href', 'http://theplanesgame.com');
      }
    </script>
    </a>
  </div>
</header>