<!DOCTYPE html>
<html>
<head>
  <title>Planes by NEXT CODE</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/arena.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <meta property="og:image" content="/assets/planes-main-icon.png" />
  <meta name="description" content="An epic duel of PLANES between {{user1}} and {{user2}}">
  <script src="js/arena.js"></script>
</head>
<body>

  <!-- facebook -->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=422733944533946&version=v2.0";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


    <header>
    <a href='/'>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </a>
      <div class="fb-share-box">
          <div class="fb-share-button" data-href="http://theplanesgame.com/arena?{{id}}"></div>
      </div>
      <div class="back-box">
        <a href="javascript:history.back()">
          <i class="fa fa-arrow-left"></i>
          <div class="back-text">
            back
          </div>
        </a>
      </div>
    </header>
  <div class="playing-field">
    <div class="plane p1"></div>
    <div class="plane p2"></div>
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
  <div class="score-field">
    <div class="score-field-left sf">
      <h3>Team <span class="green">Green</span></h3>
      <p>Bullets: <span class="gb bullets">0</span></p>
      <div class="action action-left charge"></div>
    </div>
    <div class="round-number">
      0
    </div>
    <div class="score-field-right sf">
      <h3>Team <span class="orange">Orange</span></h3>
      <p>Bullets: <span class="ob bullets">0</span></p>
      <div class="action action-right fire"></div>
    </div>
  </div>
  <div class="cover">
    <h4>PREPARING PLANES</h4>
    <div class="invalid-id">Sorry, this does not appear to be a valid match. Please refresh the page, or visit a different link. If you believe this is an error, please contact planes@mit.edu.</div>
    <div class="match-processing">Oops - sorry. This match isn't quite ready yet. Give it a couple of seconds, then refresh!</div>
    <div class="spinner-container">
      <div class="go-btn">GO</div>
      <div class="spinner"></div>
    </div>
  </div>
  <div class="end-cover">
    <h4><span class='winner-name'></span> is the winner!</h4>
    <p>
      <a href='/'>Back to Planes</a>
      <a href='' class='replay'>Replay this Match</a>
    </p>
  </div>
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53583648-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>