<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/arena.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/arena.js"></script>
</head>
<body>
    <header>
    <a href='/'>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </a>
      <div class="back-box">
        <a href="javascript:history.back()">
          <i class="fa fa-arrow-left"></i>
          <div class="back-text">
            back
          </div>
        </a>
      </div>
    </header>
  <div class="playing-field">
    <div class="plane p1"></div>
    <div class="plane p2"></div>
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
  <div class="score-field">
    <div class="score-field-left sf">
      <h3>Team <span class="green">Green</span></h3>
      <p>Bullets: <span class="gb bullets">0</span></p>
      <div class="action action-left charge"></div>
    </div>
    <div class="score-field-right sf">
      <h3>Team <span class="orange">Orange</span></h3>
      <p>Bullets: <span class="ob bullets">0</span></p>
      <div class="action action-right fire"></div>
    </div>
  </div>
  <div class="cover">
    <h4>PREPARING PLANES</h4>
    <div class="invalid-id">Sorry, this does not appear to be a valid match. Please refresh the page, or visit a different link. If you believe this is an error, please contact planes@mit.edu.</div>
    <div class="match-processing">Oops - sorry. This match isn't quite ready yet. Give it a couple of seconds, then refresh!</div>
    <div class="spinner-container">
      <div class="go-btn">GO</div>
      <div class="spinner"></div>
    </div>
  </div>
  <div class="end-cover">
    <h4><span class='winner-name'></span> is the winner!</h4>
    <p>
      <a href='/'>Back to Planes</a>
      <a href='' class='replay'>Replay this Match</a>
    </p>
  </div>
</body>
</html>