<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/arena.css" media="screen" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/arena.js"></script>
</head>
<body>
    <header>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </header>
  <div class="playing-field">
    <div class="plane p1"></div>
    <div class="plane p2"></div>
    <div class="line l1"></div>
    <div class="line l2"></div>
    <div class="line l3"></div>
    <div class="line l4"></div>
  </div>
  <div class="score-field">
    <div class="score-field-left sf">
      <h3>Team <span class="green">Green</span></h3>
      <p>Bullets: <span class="gb bullets">0</span></p>
      <div class="action action-left charge"></div>
    </div>
    <div class="score-field-right sf">
      <h3>Team <span class="orange">Orange</span></h3>
      <p>Bullets: <span class="ob bullets">0</span></p>
      <div class="action action-right fire"></div>
    </div>
  </div>
  <div class="cover">
    <h4>PREPARING PLANES</h4>
    <div class="spinner-container">
      <div class="go-btn">GO</div>
      <div class="spinner"></div>
    </div>
  </div>
</body>
</html>