<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/misc.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/arena.js"></script>
</head>
<body>
    <header>
    <a href='/'>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </a>
      <div class="back-box">
        <a href="javascript:history.back()">
          <i class="fa fa-arrow-left"></i>
          <div class="back-text">
            back
          </div>
        <script type="text/javascript">
          if (document.referrer.indexOf('theplanesgame') < 0 && document.referrer.indexOf('localhost') < 0) {
            $('.back-box').find('a').attr('href', 'http://theplanesgame.com');
          }
        </script>
        </a>
      </div>
    </header>
  <div class='goodbye'>
    Ok! You've been unsubscribed.
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53583648-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>