<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/misc.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/arena.js"></script>
</head>
<body>
    <header>
    <a href='/'>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </a>
      <div class="back-box">
        <a href="javascript:history.back()">
          <i class="fa fa-arrow-left"></i>
          <div class="back-text">
            back
          </div>
        </a>
      </div>
    </header>
  <div class='goodbye'>
    Ok! You've been unsubscribed.
  </div>
</body>
</html>