<html>
  <head>
  <title>Planes by NEXT CODE</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/help.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  </head>
  <body>
  <header>
    <a href='/'>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </a>
      <div class="back-box">
        <a href="javascript:history.back()">
          <i class="fa fa-arrow-left"></i>
          <div class="back-text">
            back
          </div>
        <script type="text/javascript">
          if (document.referrer.indexOf('theplanesgame') < 0 && document.referrer.indexOf('localhost') < 0) {
            $('.back-box').find('a').attr('href', 'http://theplanesgame.com');
          }
        </script>
        </a>
      </div>
  </header>
  <div class="help-container">
    <h1>The Game <a class='example' href='../assets/example-bot.py'>Example Bot (.py)</a> <a class='template' href='../assets/bot-template.py'>Download Template (.py)</a></h1>
    
    <h2>Goal</h2>
    <p>Your goal is simple - shoot down the other plane and don't get shot. The player who survives is the winner! If neither planes are shot after 120 turns, the game is a tie.</p>
    
    
    <h2>Rules</h2>
    <p> 
    A plane can be in any one of 5 rows (numbered 0 through 4 from top to bottom). Every turn, a plane can take one of six actions: <samp>up</samp>, <samp>down</samp>, <samp>charge</samp>, <samp>shoot</samp>, <samp>supershoot</samp> or <samp>shield</samp>. 
    </p>
    <p>
    <div class="ct">
      <div class="image-caption img-360">
        <img src='../assets/planes-help.png' />
        <p>two planes on the battlefield with rows numbered</p>
      </div>
    </div>
      <samp>up</samp> or <samp>down</samp> changes the current row of your plane. The rows wrap around, so going <samp>up</samp> in row 0 will put you at row 4. 
    </p>
    <p>
      <samp>charge</samp> increasing your <code>myEnergy</code> count. You need energy to shoot, supershoot, or shield, and you can charge as much energy as you'd like throughout the game.
    </p>
    <p>
      <samp>shoot</samp> fires a bullet at your opponent (requires 1 energy). Keep in mind, because these planes are lightyears apart, shooting a bullet will take a couple of turns to reach the other plan.
    </p>
    <p>
      <samp>supershoot</samp> fires three bullets in parallel at your opponent (requires 5 energy). This is similar to the regular shoot, except you fire two additional bullets at your opponent: one in the row directly above your current row and another below.
    </p>
    <div class='ct'>
      <div class="image-caption img-180">
        <img src='../assets/supershoot-demo-1.png' />
        <p>the almighty supershoot</p>
      </div>
    </div>
    <p>
      <samp>shield</samp> creates a barrier in front of your plane (requires 3 energy), and extends to the row above and below your current row. Each shield you create will block you from one enemy bullet. Once an bullet hits <em>any part</em> of your shield, your shield is destroyed. You can shoot through your own shield without destroying it.
    </p>
    <div class='ct'>
      <div class="image-caption img-180">
        <img src='../assets/shield-demo-2.png' />
        <p>a plane with double the shield</p>
      </div>
      <div class="image-caption img-180">
        <img src='../assets/shield-demo-1.png' />
        <p>a plane with shield thickness 1</p>
      </div>
    </div>
    
    <p>You can see a sample game <a href='/arena?229'>here</a>!</p>
    <h2>Tips and Tricks</h2>
      <p>Because there are no ways for you to save variables or save states, use the <code>gameRound</code> and <code>myLastMove</code> variables wisely!</p>
      <p>You can <code class='no'>import random</code> and <code class='no'>import itertools</code>, but that's just about all the modules you can import. No sketchy/evil things please- we look at your code manually every once in a while to prevent shenanigans ;)</p>
    <h1>The Code</h1>
    <h2>Overview</h2>
    <p>To code your AI, you should download the <a href='../assets/bot-template.py'> bot template (.py)</a>. At the moment, we only support Python (our engine runs Python 2.7.3, so as long as you're not using Python 3.x.x you should be fine!). Once you're done with your code, login, and upload your bot!
    </p>
    <h2><code>compute()</code></h2>
    <p>This is the main function that you must fill out. Each turn, this function is called to determine what your plane's action should be. You take in the parameters: <code>gameRound</code>, <code>enemyRow</code>, <code>myRow</code>, <code>radars</code>, <code>myEnergy</code>, and <code>myLastMove</code>. You return an <samp>up</samp>, <samp>down</samp>, <samp>charge</samp>, or <samp>shoot</samp>, otherwise your default action will be to <samp>charge</samp>.
    </p>
    
    <h2 id='gameRound'><code>gameRound <span class="type">int</span></code></h2>
    <p>The current round of the game. Each game lasts exactly 120 rounds (meaning that <code>compute</code>) will be called 120 times. The gameRound is 0-indexed (so the first round is 0).</p>
    
    <h2 id='enemyRow'><code>enemyRow <span class="type">int</span></code></h2>
    <p>The row the enemy is currently occupying, at the beginning of the turn. The first row is 0, and the last row is 4.</p>
    
    <h2 id='myRow'><code>myRow <span class="type">int</span></code></h2>
    <p>The row you're in, at the beginning of the turn. The first row is 0, and the last row is 4.</p>
    
    <h2 id='radars'><code>radars <span class="type">list</span></code></h2>
    <p>A Python list containing either <samp>SAFE</samp> or <samp>WARNING</samp> for each value. Each index pertains to a row, and will display <samp>SAFE</samp> if there are no enemy bullets coming at you, or <samp>WARNING</samp> if there are one or more enemy bullets coming at you.</p>
    
    <h2 id='myEnergy'><code>myEnergy <span class="type">int</span></code></h2>
    <p>The number of bullets you have. Don't spend it all in one place now!</p>
    
    <h2 id='mySheidl'><code>myShield <span class="type">int</span></code></h2>
    <p>The layers of shield you currently have.</p>
    
    <h2 id='myLastMove'><code>myLastMove <span class="type">string</span></code></h2>
    <p>A string indicating the move you took last turn, which is one of <samp>up</samp>, <samp>down</samp>, <samp>charge</samp>, <samp>shoot</samp>, or None (in the case of your first turn).</p>
    
    <h1>More Questions?</h1>
    <h2>Email us!</h2>
    <p>You can send us any comments/suggestions/planes at <a href='mailto:planes@mit.edu'>planes@mit.edu</a></p>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53583648-1', 'auto');
  ga('send', 'pageview');

</script>
    <script type="text/javascript">
    
    $(function() {
    
      $('code').each(function() {
        $c = $(this);
        var code = $c.text();
          console.log($c.parent().prop('tagName'))
        if ($c.parent().prop("tagName") != 'H2' && !$c.hasClass('no')) {
          $c.html('<a href="#'+code+'">'+code+'</a>');
        }
      })
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
  </body>
</html>
