<!DOCTYPE html>
<html>
<head>
  <title>Planes by NEXT CODE</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="js/blabber.js"></script>
  <script src="js/scripts.js"></script>
  
</head>
<body>
    <header>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </header>
    {{#if message}}
      <div class="status-msg">
          {{message}}
      </div>
    {{/if}}
    <div class="container">
    
      <div class="row-greeting solid-back">
        <div class="greeting">
          <h1>Welcome, Commander {{user}}.</h1>
          <span class="right-settings"><i class="fa fa-cog"></i></span>
        </div>
        <div class="back-box">
          <ul>
            <li>Help</li>
            <li>Logout</li>
          </ul>
        </div>
      </div>
      
      <div class="row">
        <div class="content-box upload-bot">
          <h2>Control Center</h2>
          
          <form target="" method="post" enctype="multipart/form-data">
          <div class="form-fill">
            <h3>Plane Name</h3>
            <input type="text" class="botName" name="botName" />
            <h3>Plane Description</h3>
            <input type="text" class="botDesc" name="botDesc" value="" />
            <input type="submit" value="Deploy Plane!"/>
          </div>
          <div class="upload-box">
            <input type="file" class="file-upload" name="bot"/>
            <span class="upload-btn-text">Upload a New Plane</span>
          </div>
          </form>
        </div>
        <div class="content-box stats">
          <h2>Plane Stats</h2>
          <h3>Current Plane Name</h3>
          <p>{{bot.botName}}</p>
          <h3>Description</h3>
          <p>{{bot.botDesc}}</p>
          <ul>
            <li>
              <h3>Current Rank</h3>
              <div class="stat-num rank">B</div>
            </li>
            <li>
              <h3>Games Won</h3>
              <div class="stat-num win">24</div>
            </li>
            <li>
              <h3>Games Lost</h3>
              <div class="stat-num">4</div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="row-later">
        <div class="content-box split">
          <h2>Top Challengers</h2>
          <div class="top-challengers">
          </div>
        </div>
        <div class="content-box split">
          <h2>Challenged Matches</h2>
          <div class="match-list">
          </div>
        </div>
      </div>
      
    </div>
    
  <!-- bot item templater -->
  <div class="bot-item-template">
    <div class="challengerBox">
      <span class="num">1</span>. <span class="challengerName">Victor H's</span> <span class="challengerBot">botbot</span>
      <span data-id="" class="stats">stats</span>
      <span class="challenge">challenge</span>
    </div>
    <div class="statsBox">
      <span class="statItem">Rank: <em class='r'>A</em></span>
      <span class="statItem">Wins: <em class='w'>200</em></span>
      <span class="statItem">Losses: <em class='l'>10</em></span>
    </div>
  </div>
   
  <!-- match item templater -->
  <div class="match-item-template">
    <div class="challengerBox">
      <span class="challengerName">Victor H's</span> <span class="challengerBot">botbot</span>
      <span class="share">share</span>
      <a class="view" href="#">view match</a>
    </div>
  </div>
         
</body>
</html>
