<!DOCTYPE html>
<html>
<head>
  <title>Story</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  <script src="js/scripts.js"></script>
  
</head>
<body>
    <header>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
    </header>
    {{#if message}}
      {{message}}
    {{/if}}
    <div class="container">
    
      <div class="row-greeting solid-back">
        <div class="greeting">
          <h1>Welcome, Commander {{user}}.</h1>
          <span class="right-settings"><i class="fa fa-cog"></i></span>
        </div>
        <div class="back-box">
          <ul>
            <li>Help</li>
            <li>Logout</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="content-box upload-bot">
          <h2>Control Center</h2>
          
          <form target="" method="post" enctype="multipart/form-data">
          <div class="upload-box">
            <input type="file" class="file-upload" name="bot"/>
            Upload a New Plane
          </div>
          
            <input type="text" name="botName" placeholder="botname" />
            <input type="text" name="botDesc" placeholder="botdesc" />
            <input type="submit" />
          
          </form>
        </div>
        <div class="content-box stats">
          <h2>Plane Stats</h2>
          <h3>Current Plane Name</h3>
          <p>{{bot.botName}}</p>
          <h3>Description</h3>
          <p>{{bot.botDesc}}</p>
          <ul>
            <li>
              <h3>Current Rank</h3>
              <div class="stat-num rank">B</div>
            </li>
            <li>
              <h3>Games Won</h3>
              <div class="stat-num win">24</div>
            </li>
            <li>
              <h3>Games Lost</h3>
              <div class="stat-num">4</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <script type="text/javascript">
  </script>
</body>
</html>
