<html>
  <head>
  <title>Planes by NEXT CODE</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  </head>
  <body>
  <header>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
  </header>
  <div class="tagline">
    write an AI, conquer the sky!
  </div>
  <div class="banner">
  </div>
  <div class="facebook">
    <a href="/auth/facebook">Login with Facebook</a>
  </div>
  <div class="lower-container">
    <h1>What is Planes?</h1>
    <p>Planes is a simple game thats <em>put your code to the test</em> with your friend's code! Challenge them in an epic duel of planes!</p>
  </div>
  </body>
</html>
