<html>
  <head>
  <title>Planes by NEXT CODE</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/login.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
  </head>
  <body>
  <header>
      <h1>Planes</h1>
      <h2>by <em>NEXT CODE</em></h2>
  </header>
  <div class="tagline">
    Write an AI, Conquer the Sky!
  </div>
  <div class="banner">
  </div>
  <div class="facebook">
    <a href="/auth/facebook">Login with Facebook</a>
  </div>
  <div class="lower-container">
    <h1>What is Planes?</h1>
    <p>Planes is a silly little game that <em>puts your code to the test</em> with your friend's code! Challenge them in an epic duel of planes!</p>
    <div class="samples">
      <a class="sample-game" href="arena?16">
        view sample game
      </a>
      <a class="sample-code" href="#code">
        the code
      </a>
    </div>
  </div>
    <div id="code" class="row-code">
      <img src="../assets/example-code.png">
      <h1>How does it work?</h1>
      <p>Making your AI is easy! Each round, you must return a plane action- one of <code>up</code>, <code>down</code>, <code>charge</code>, or <code>shoot</code>. You get information such as the current <code>gameRound</code> and the position of your enemy. Check out the <a href='/help'>rules and documentation</a>!
      </p>
    </div>
    <script type="text/javascript">
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
  </body>
</html>
